.hero {
  position: relative;
}

.hero-bg-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 89.1rem;
  object-fit: cover;
}

@media (max-width: 991px) {
  .hero-bg-img {
    width: 70%;
  }
}

@media (max-width: 767px) {
  .hero-bg-img {
    width: 100%;
  }
}

.swiper-item {
  display: flex;
  align-items: center;
  height: 92vh;
}

@media (max-width: 991px) {
  .swiper-item {
    height: 60rem;
  }
}

@media (max-width: 767px) {
  .swiper-item {
    height: 48rem;
  }
}

.swiper-item img {
  position: absolute;
  top: 50%;
  right: 0;
  translate: 0 -50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 1199px) {
  .swiper-item img {
    top: 80%;
    translate: 0 -80%;
    height: 80%;
    width: auto;
    object-fit: contain;
  }
}

@media (max-width: 767px) {
  .swiper-item img {
    display: none;
  }
}

.hero-item-detail {
  position: relative;
  top: -10rem;
  width: 50%;
}

@media (max-width: 991px) {
  .hero-item-detail {
    top: 0;
  }
}

@media (max-width: 767px) {
  .hero-item-detail {
    width: 100%;
  }
}

.hero-title {
  font-size: 9.5rem;
  line-height: 90px;
  letter-spacing: 19px;
  margin-bottom: 3.8rem;
}

@media (max-width: 991px) {
  .hero-title {
    font-size: 6.4rem;
    line-height: 1em;
  }
}

@media (max-width: 575px) {
  .hero-title {
    font-size: 4.8rem;
    letter-spacing: 6px;
    margin-bottom: 2.4rem;
  }
}
