.navbar {
  padding: 2.4rem 0;
}

.nav-content,
.nav-link-details,
.nav-details,
.nav-btn-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-content {
  position: relative;
  z-index: 99;
}

.nav-content > img {
  max-width: 14rem;
}

@media (min-width: 992px) {
  .nav-link-container {
    height: auto !important;
    box-shadow: none !important;
  }
}

@media (max-width: 991px) {
  .nav-link-container {
    position: absolute;
    top: calc(100% + 2.4rem);
    left: 0;
    right: 0;
    height: 0;
    background-color: #fff;

    overflow: hidden;
    transition: height 0.45s;
  }
}

.nav-link-details {
  gap: 4rem;
}

@media (max-width: 991px) {
  .nav-link-details {
    flex-direction: column;
    padding: 2.4rem;
    gap: 2.4rem;
  }
}

.nav-link-details li {
  font-family: var(--primary-font-family);
  list-style: none;
  font-size: 2rem;
  font-weight: 500;
}

.nav-details {
  gap: 3.2rem;
}

.nav-btn-group {
  gap: 1.6rem;
}

.nav-btn-group svg {
  font-size: 2rem;
  cursor: pointer;
}

@media (min-width: 992px) {
  .nav-btn-group svg:last-child {
    display: none;
  }
}
