* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-font-family: "Teko", sans-serif;
  --secondary-font-family: "Ubuntu", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--secondary-font-family);
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font-family);
  font-weight: 500;
}

.wrapper {
  width: 1300px;
  margin: 0 auto;
}
